body {
    background: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

#center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.clock {
   
    color: purple;
    font-size: 60px;
    letter-spacing: 7px;

}


.div{
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    display: flex;
    text-align: center;
}